@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

html{
    padding-left: 250px;
}

body{    
    font-family: sans-serif;
}

#tituloPagina{
    color: red;
}

#bannerDestaque{
    background-image: url('../img/destaque.webp');
    height: 270px;
    width: 750px;
}

.textoPagina{
    text-align: justify;
}

.tamanhoTexto{
    width: 350px;
}

.linkImagensRedesSociais{
    width: 10%;
    display: inline-block;
}
